certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
contourpy==1.3.0
cycler==0.12.1
fonttools==4.54.1
greenlet==3.1.1
-e git+ssh://git@github.com/popelier-group/ichor.git@863b6c91af58c8f67ddf4df07f657e487920fe7e#egg=ichor_core&subdirectory=ichor_core
idna==3.10
kiwisolver==1.4.7
matplotlib==3.9.2
natsort==8.4.0
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pillow==11.0.0
platformdirs==4.3.6
pooch==1.8.2
pyarrow==18.0.0
pyparsing==3.2.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
pyqt5-tools==5.15.9.3.3
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pyvista==0.44.1
pyvistaqt==0.11.1
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
QtPy==2.4.1
requests==2.32.3
scooby==0.10.0
six==1.16.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vtk==9.3.1
XlsxWriter==3.2.0
